{% extends 'base/base.html' %}
{% load mathfilters %}
{% block title %} Master {% endblock %} 
{% block content %}

<div class="card border-radius-lg" style="margin-top: 5px">
    <div class="card-title" style="padding: 2%">
    <h3 class="h3">Hello, {{request.user}} Welcome to the Admin Panel</h3>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2
            class="accordion-header"
            id="headingOne"
            style="background-color: rgb(238, 238, 238)"
            >
            <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
            >
                Update Meal Details
            </button>
            </h2>
            <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
            >
            <div class="accordion-body">
                <div class="row">
                <div class="col-md">
                    <div class="card border-radius-lg">
                    <div class="card-title" style="padding: 2%">
                        <h5 class="h5">Breakfast</h5>
                    </div>
                    <div class="card-body">
                        <!-- Make three input fields for children, adults and infant-->
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Children</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "b1"
                                    value= "{{chBf|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = 'b1-c' onclick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'b1-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Adult</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "b2"
                                    value= "{{adBf|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "b2-c" onclick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'b2-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Infant</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "b3"
                                    value= "{{inBf|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" 
                                        id = "b3-c" onclick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'b3-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                    </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card border-radius-lg">
                    <div class="card-title" style="padding: 2%">
                        <h5 class="h5">Lunch</h5>
                    </div>
                    <div class="card-body">
                        <!-- Make three input fields for children, adults and infant-->
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Children</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "l1"
                                    value= "{{chLu|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id ="l1-c" onclick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'l1-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Adult</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "l2"
                                    value= "{{adLu|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "l2-c" onlcick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'l2-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Infant</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "l3"
                                    value= "{{inLu|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "l3-c" onlcick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'l3-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                    </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card border-radius-lg">
                    <div class="card-title" style="padding: 2%">
                        <h5 class="h5">Dinner</h5>
                    </div>
                    <div class="card-body">
                        <!-- Make three input fields for children, adults and infant-->
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Children</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "d1"
                                    value= "{{chDi|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "d1-c" onlcick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'd1-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Adult</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "d2"
                                    value= "{{adDi|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "d2-c" onlcick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'd2-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class = "row">
                            <div class = "col-md">
                                <div class="input-group input-group-static">
                                <label for="child">Infant</label>
                                <input
                                    type="number"
                                    name="child"
                                    class="form-control"
                                    placeholder="Price"
                                    disabled = true
                                    id = "d3"
                                    value= "{{inDi|floatformat:2}}"
                                />
                                </div>
                            </div>
                            <div class = "col-sm mt-3">
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "d3-c" onlcick = "chg(this.id)">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-success" type="button" id = 'd3-s' onclick = "save(this.id)" disabled = "true">
                                    <span class="btn-inner--icon"><i class="material-icons">save</i></span>
                                </button>
                            </div>
                        </div>
                        <br />
                    </div>
                    </div>
                </div>
                </div>
                <div
                class="container"
                style="
                    margin-top: 3%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                "
                >
                <button class="btn btn-primary" onclick = "update()">Submit</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
        <!-- Button trigger modal -->
    <div class = "row">
        <div class="col-sm-5">
            <button type="button" class="btn bg-gradient-info btn-block" data-bs-toggle="modal" data-bs-target="#cmpadd">
                <span class="btn-inner--icon"><i class="material-icons">add</i></span> Add new Company
            </button>
        </div>
    </div>
    <div class = "row justify-content-center">
        <div class = "col">
            <div class = "table-responsive">
                <table class = "table align-items-center mb-0">
                    <tr>
                        <th>
                            Company Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    {% for company in companies %}
                        <tr>
                            <td>
                                {{company.name}}
                            </td>
                            <td>
                                {{company.email}}
                            </td>
                            <td>
                                <button class="btn btn-icon btn-2 btn-primary" type="button" id = "{{company.id}}-c" onlcick = "edc(this.id)" data-bs-toggle="modal" data-bs-target="#edit{{company.id}}">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </button>
                                <button class="btn btn-icon btn-2 btn-danger" type="button" id = '{{company.id}}-d' onclick = "del('{{company.id}}')">
                                    <span class="btn-inner--icon"><i class="material-icons">delete</i></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cmpadd" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" id="modal-title-default">Company Details</h6>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <div class="modal-body p-0">
            <div class="card card-plain">
                <div class="card-body pb-3">
                <form role="form text-left">
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id = "addname">
                    </div>
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" id = "addemail">
                    </div>
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Address Line 1</label>
                        <input type="email" class="form-control" id = "addaddress1">
                    </div>
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Address Line 2</label>
                        <input type="email" class="form-control" id = "addaddress2">
                    </div>
                </form>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-primary" onclick = "addcmp()">Save changes</button>
                <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        
        </div>
    </div>

    <!-- Modal -->
    {% for company in companies %}
        <div class="modal fade" id="edit{{company.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title font-weight-normal" id="modal-title-default">Company Details</h6>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-body pb-3">
                    <form role="form text-left">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" value = "{{company.name}}">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control"  value = "{{company.email}}">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Address Line 1</label>
                            <input type="email" class="form-control"  value = "{{company.address1}}">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Address Line 2</label>
                            <input type="email" class="form-control"  value = "{{company.address2}}">
                        </div>
                    </form>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-primary" onclick="editCompany('{{company.id}}')">Save changes</button>
                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>
    {% endfor %}
</div>
<style>
  .md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
<script>
  function del(id){
    fetch(
        "{% url 'delcmp' %}"
        ,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({"id":id})
        }
    )
    .then(response => response.json())
    .then(data => {
        window.location.reload();
    });
  }



  function editCompany(id){
    // get editid div and fetch the input tags inside that div
    editid = document.getElementById("edit"+id);
    inputs = editid.getElementsByTagName("input");
    // create a new object to store the new values
    changeCompanyDetails = {"id":id}
    // loop through the input tags and store the values in the object
    changeCompanyDetails.name = inputs[0].value;
    changeCompanyDetails.email = inputs[1].value;
    changeCompanyDetails.address1 = inputs[2].value;
    changeCompanyDetails.address2 = inputs[3].value;
    console.log(changeCompanyDetails);
    fetch(
        "{% url 'editcmp' %}"
        ,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(changeCompanyDetails)
        }
    )
    .then(response => response.json())
    .then(data => {
        window.location.reload();
    });
  }


  function addcmp(){
    newcmp = {}
    newcmp.name = document.getElementById("addname").value;
    newcmp.email = document.getElementById("addemail").value;
    newcmp.address1 = document.getElementById("addaddress1").value;
    newcmp.address2 = document.getElementById("addaddress2").value;
    fetch(
        "{% url 'addcmp' %}"
        ,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(newcmp)
        }
    )
    .then(response => response.json())
    .then(data => {
        window.location.reload();
    });


    // document.getElementById("cmpadd").click();
  }


  changeRates = {};


  function ge() {
    console.log("clicked");
  }

  function getCookie(name){
    var cookieValue = null;
    if(document.cookie && document.cookie !== ''){
      var cookies = document.cookie.split(';');
      for(var i = 0; i < cookies.length; i++){
        var cookie = cookies[i].trim();
        if(cookie.substring(0, name.length + 1) === (name + '=')){
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function chg(someId){
    var x = document.getElementById(someId);
    var y = document.getElementById(someId.slice(0,2));
    var z = document.getElementById(someId.slice(0,2) + "-s");
    z.disabled = false;
    y.disabled =false;
    x.disabled = true;

  }

  function save(someId){
    var y = document.getElementById(someId.slice(0,2));
    var z = document.getElementById(someId.slice(0,2) + "-c");
    var x = document.getElementById(someId);

    y.disabled = true;
    z.disabled = false;
    x.disabled = true;
    changeRates[someId.slice(0,2)] = y.value;
  }


  function update(){
    //set csrf token header 
    var csrftoken = getCookie('csrftoken');
    var url = window.location.href;
    var id = url.split("/")[4];
    fetch(
        "{% url 'updateMealDetails' %}",
        {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                changeRates
            }),
        },
    ).then(
        function (response) {
            if (response.status !== 200) {
                console.log(
                    "Looks like there was a problem. Status Code: " + response.status,
                );
                return;
            }
            // give a success dialog 
            alert("Meal Details Updated Successfully");

        },
    ).catch(function (err) {
        console.log("Fetch Error :-S", err);
    });
  }
</script>

{% endblock %}
Price
